#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Azan
Name[ar]=برنامج الأذان
Comment[ar]=البحث عن الكلمات
Exec=/usr/bin/azan
Terminal=false
Type=Application
Icon=kaba.png
Categories=Utility;

